.playlist__container {
    width: 100%;
    height: 100%;
    overflow: auto;

}

.playlist__card__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}