.page__heading {
    font-size: 2rem;
    margin: 2rem 2rem 1rem 4rem;
    color: var(--main-white)
}

.page__sub__heading {
    font-size: 1.5rem;
    margin: 1rem 2rem 2rem 4rem;
}

.playlist__card__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

.playlist__container {
    width: 100%;
    height: 100%;
    padding: 4rem;
    overflow: auto;
}