.App {
  height:100vh;
  display:flex;
  flex-direction: column;
  
}
.main__container{
  display: flex;
  flex-direction: row;
  height:90vh;
  overflow: auto;

}
.main__pages{
  width:100%;
  overflow: hidden;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
}
.page__heading {
  font-size: 2rem;
  margin: 2rem 2rem 1rem 4rem;
  color: var(--main-white)
}

.page__sub__heading {
  font-size: 1.5rem;
  margin: 1rem 2rem 2rem 4rem;
}